project          = "infra-123456"
public_key_path  = "~/.ssh/appuser.pub"
disk_image       = "reddit-base"
private_key_path = "~/.ssh/appuser"
region           = "europe-north1"
zone             = "europe-north1-a"
instance_count   = 2
app_name         = "reddit-app"
